* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.app {
  background-color: lightblue;
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-out;
}

.app-warm {
  background-color: lightyellow;
}

main {
  min-height: 100vh;
  padding: 25px;
}